<div class="container__info_about-user_info">
    <label for={{ inputName }}> {{ inputText }} </label>
    <input type={{ inputType }} name={{ inputName }} id={{ inputName }} value={{ inputValue }} required>
</div>